* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #C4170C;
  margin-bottom: 24px;
}

.container {
  width: 86%;
  margin-left: auto;
  margin-right: auto;
  /* margin: 0 auto; */
}

/* display: block / inline / inline-block */
.box {
  width: 48%;
  display: inline-block;
  vertical-align: top;
}

.box-link {
  display: block;
}

.menu {
  /* padding-top: 12px;
  padding-bottom: 12px; */
  padding: 12px 0;
}

.menu-item {
  display: inline-block;
  /* padding-left: 6px;
  padding-right: 6px; */
  padding: 0 6px;
}

/* 
:first-child 
:last-child
 Manipular o primeiro e o último elemento de um grupo
 */
.menu-item:first-child {
  padding-left: 0;
}

.menu-item:last-child {
  padding-right: 0;
}

.menu-link {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 18px;
}

.globo-com {
  color: #0669DE;
}

.g1-com {
  color: #C4170C;
}

.ge {
  color: #06AA48;
}

.globoplay {
  color: #FB0334;
}

.jogos {
  color: #A5147D;
}

.o-globo {
  color: #1E4C9A;
}

.first-news {
  border-width: 1px;
  border-style: solid;
  border-color: #C4170C;
  border-radius: 8px;
  padding: 24px;
  background-color: lightgray;
}

.second-news {
  border-width: 1px;
  border-style: solid;
  border-radius: 8px;
  padding: 24px;
  background-color: #C4170C;
  color: #FFFFFF;
  margin-bottom: 12px;
}
 